<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book types</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

        .nav-link {
            color: white;
        }

        a {
            color: white;
        }

        a:hover {
            color: #ffffff;
            text-decoration: none;
            text-underline: none;
        }
        .navbar-custom {
            background-color: darkslateblue;
        }

        .nav-item {
            font-weight: bolder;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand navbar-custom" >
    <a class="navbar-brand ml-3" href="/books"><i class="fa fa-book"></i><b> Book Assistant</b></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="/books">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/authors">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/publishers">Publishers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/readers">Readers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/charts">Charts</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse text-white justify-content-end">
        <ul class="nav navbar-nav navbar-right justify-content-end">
            <li class="nav-item float-right">
                <th:block sec:authorize="isAuthenticated()">
                    <a href="/logout" class="nav-link text-white float-right"><span><i class="fab fa-sign-out" aria-hidden="true"></i>
</span><i class="fa fa-sign-out"></i> Sign out</a></th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <a href="/login" class="nav-link text-white float-right"><span><i class="fab fa-sign-in" aria-hidden="true"></i>
</span><i class="fa fa-sign-in"></i> Sign in</a>
                </th:block>
            </li>
        </ul>
    </div>
</nav>
<div id="container" style="height: 620px" class="mt-4"></div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    Highcharts.setOptions({
        colors: ['#2F71D0', '#D02F71','#71D02F']
    });
    Highcharts.chart('container', {
        chart : {
            type : 'pie',
            options3d : {
                enabled : true,
                alpha : 50,
                beta : 0
            }
        },
        title : {
            text : 'BOOK TYPES'.bold()
        },
        subtitle: {
            text: 'Visual representation of percentage of book types'
        },
        tooltip : {
            pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        legend: {
            enabled: true
        },
        plotOptions : {
            pie : {
                allowPointSelect : true,
                cursor : 'pointer',
                depth : 35,
                dataLabels : {
                    enabled : true,
                    format : '{point.name}'
                }
            }
        },
        series : [ {
            type : 'pie',
            name : 'Ratio',
            data : [ [ 'E - BOOK', [[${ebook}]] ], [ 'PAPER BOOK', [[${paper}]] ],
                [ 'AUDIO BOOK', [[${audio}]] ]
            ]
        } ]
    });
</script>
</body>
</html>